p{
  margin-bottom: 0;
  margin-top: 0;
}
.education-container,
.work-experience-container,
.skills-container,
.certificates-container {
  display: flex;
  flex-direction: row;
  font-family: Acme, Arial;
  font-size: 20px;
}

.education-image {
  flex: 2;
  height: 100vh;
  padding-top: 150px;
}

.education-info {
  flex: 3;
  height: 100vh;
  margin-right: 105px;
  padding-right: 50px;
  padding-top: 50px;
}

.work-experience-info{
  flex: 3;
  height: 100vh;
  padding-left: 50px ;
  padding-top: 50px;
}

.work-experience-image{
  height: 100vh;
  flex: 2;
  margin-right: 105px;
  padding-top: 150px;
}

.skills-image {
  flex: 2;
  height: 100vh;
  padding-top: 150px;
}

.skills-info {
  background-color: lightblue;
  flex: 3;
  height: 100vh;
  margin-right: 105px;
  border-style: solid;
}

.certificates-info{
  flex: 3;
  height: 100vh;
  padding-left: 50px ;
  padding-top: 50px;
}

.certificates-image{
  height: 100vh;
  flex: 2;
  margin-right: 105px;
}

.tertiary-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  padding:5px;
  gap: 2px;
  background-color: rgb(95, 95, 95);
}

.tertiary-grid div{
  background-color: rgba(255, 255, 255, .9);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.position-info{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  padding:5px;
  gap: 2px;
  background-color: rgb(95, 95, 95);
  margin-bottom: 10px;
  margin-top: -5px;
}
.position-info div{
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo {
  width:70%;
  min-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.label {
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: rgb(41, 41, 41);
}

.certificate-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  padding:5px;
  gap: 2px;
  background-color: rgb(95, 95, 95);
  
  
}

.certificate-grid div{
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

